!!! strict
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    %title I can haz layout? 
    %link{:rel => "icon", :href => "/images/favicon.ico", :type => "image/x-icon"}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/main.css', :type => "text/css"} 
  %body 
    #wrapper
      %h1 
        %a{:href => "/"} I can haz layout?
      #page
        %h2
          At least
          %strong=@results.length
          people have sworn about Internet Explorer on Twitter recently.
        = yield
      #footer
        %p
          Made by 
          %a{:href => "http://linz.id.au/"} Linz
          , based on
          %a{:href => "https://github.com/lachlanhardy/tfa"} tfa
					.

