body {
	margin: 2em;
	background: #123 url(../images/bg_page.png) no-repeat 50% 0;
	color: #e3e3e3;
	font: 62.5% sans-serif;
}

a:link {
	color: #99c;
}

a:visited {
	color: #99c;
	opacity: 0.5;
}

a:hover, a:active {
	color: #99e;
}

header, article, footer {
	display: block;
	min-width: 17em;
	max-width: 25em;
	margin: 0 auto;
	font-size: 2em;
	line-height: 130%;
}

header {
	padding-top: 1.3em;
	height: 4em;
}

header h1 a {
	font-weight: normal;
	text-decoration: none;
}

article {
	padding: 1.5em;
	border: thin solid #99c;
	border-radius: 1.5em;
	background: rgba(153, 153, 204, 0.15);
	-webkit-box-shadow: inset 0 0 1.75em rgba(153, 153, 204, 0.5);
	-moz-box-shadow: inset 0 0 1.75em rgba(153, 153, 204, 0.5);
	box-shadow: inset 0 0 1.75em rgba(153, 153, 204, 0.5);
}

article h2 {
	margin: 0 0 1.5em;
	font-weight: normal;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	margin: 0 0 1em;
	color: #aaa;
}

ul li:hover {
	color: #eee;
}
